@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// General
body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  transition: all 0.2s ease-in-out;
}

.clearfix {
  clear: both;
}

// Titles
.title_h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 20px 0;
}

// Dashboard
.dashboard_wrpr {
  display: flex;
}

// Sidebar
.side_navbar {
  background: #3D3D41;
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px;
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 17px;
  overflow: auto;

  // Logo
  .logo {
    width: 54px;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #FFFFFF10;

    a {
      width: 42px;
      height: 42px;
      display: inline-block;
    }
  }

  // Navbar Top
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;

    a {
      width: 54px;
      height: 54px;
      color: #FFF;
      font-size: 10px;
      border-radius: 6px;
      background: #FFFFFF08;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
  
      &:hover {
        background: #6371D1;
      }
  
      svg {
        fill: #FFF;
      }
  
      span {
        display: block;
      }
    }
    a.selected {
      background: #6371D1;
    }
  }

  // Navbar bottom
  .navbar_bottom {
    margin-top: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 20px;

    a {
      display: flex;
      transform: scale(1);
  
      &:hover {
        transform: scale(1.1); 
      }
    }
  }
}


// Content section
.content_section {
  width: calc(100% - 80px);
  margin-left: auto;
  padding: 20px;
}

// Years timeline
.years_wrpr{
  margin-top: 47px;
}
.year_span {
  font-size: 10px;
  font-weight: 800;
  color: #4B6A8270;
}


.years_form {
  height: 350px;
}
#rOptio, #year_range {
  transform-origin: 100% 100%;
  transform: rotate(-90deg);
}





// .range_container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// width: 120px;
// }
// .box-minmax{
// margin-top: 30px;
// width: 120px;
// height: 200px;
// display: flex;
// flex-direction: column;
// justify-content: space-between;
// font-size: 20px;
// color: #565656;
// }
// .rs-range {
//   margin-top: 29px;
//   width: 200px;
//   transform: rotate(270deg);
//   -moz-transform: rotate(270deg);
//   -webkit-appearance: none;
//   &:focus {
//       outline: none;
//   }
//   &::-webkit-slider-runnable-track {
//       width: 100%;
//       height: 1px;
//       cursor: pointer;
//       box-shadow: none;
//       background: #565656;
//       border-radius: 0px;
//       border: 0px solid #010101;
//   }
//   &::-moz-range-track {
//       width: 100%;
//       height: 10px;
//       cursor: pointer;
//       box-shadow: none;
//       background: #565656;
//       border-radius: 0px;
//       border: 0px solid #010101;
//   }

//   &::-webkit-slider-thumb {
//       box-shadow: none;
//       border: 0px solid #565656;
//       box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
//       height: 42px;
//       width: 1px;
//       border-radius: 22px;
//       background: #565656;
//       cursor: pointer;
//       -webkit-appearance: none;
//       margin-top: -20px;
//   }
// &::-moz-range-thumb{
//       box-shadow: none;
//       border: 0px solid #565656;
//       box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
//       height: 42px;
//       width: 1px;
//       border-radius: 22px;
//       background: #565656;
//       cursor: pointer;
//       -webkit-appearance: none;
//       margin-top: -20px;
// }
// &::-moz-focus-outer {
//   border: 0;
//   }
// }
// .rs-label {
  
//   position: relative;
//   transform-origin: center center;
//   display: block;
//   width: 40px;
//   background: transparent;
//   border-radius: 50%;
//   line-height: 30px;
//   text-align: center;
//   font-weight: bold;
//   padding-top: 22px;
//   box-sizing: border-box;
//   margin-top: 10px;
//   margin-left: 130px;
//   left: attr(value);
//   color: #565656;
//   font-style: normal;
//   font-weight: normal;
//   line-height: normal;
//   font-size: 20px;
// }







#years {
  width: 150px;
  overflow: hidden;
  position: relative;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 12px;
    
    &::before {
      content: '';
      width: 8px;
      height: 1px;
      background: #565656;
      display: inline-block;
      margin-right: 9px;
      transition: all 0.5s ease-in-out;
    }
  
    &:first-child, &:last-child {
      span {
        opacity: 1;
      }
    }
    
    span {
      color: #787878;
      font-size: 12px;
      font-weight: 800;
      opacity: 0;
      line-height: 1;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
    
    &:hover span{
      opacity: 1;
    }
  }
  li.selected {
    &::before {
      width: 55px;
      margin-right: 19px;
    }
    span {
      font-size: 18px;
      color: #3D3D41;
      opacity: 1;
    }
  } 
}





.controls {
  --borderWidth: 1px;
  --scale: 1;
  position: relative;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

.sliderbox {
  --trackLength: calc(var(--controlHeight) - 10em);
  --trackSize: 0.5em;
  --thumbSize: 10px;
  --thumbLength: calc(var(--trackLength) * 0.12);
  --scaleLength: calc(var(--trackLength) - var(--thumbLength) - 0.125em);
  --bpos: calc(var(--thumbLength) / 2);
  --sections: 2;
  --tickLength: calc(var(--scaleLength) / var(--sections));
  display: inline-block;
  box-sizing: border-box;
  border: 0px solid transparent;
  position: relative;
  padding: 0;
}

.labeltext {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  position: relative;
  filter: drop-shadow(-1px 1px 1px #fff);
  height: 3em;
  margin: 0.5em 0;
  overflow: hidden;
}

output {
  display: none;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: calc(var(--thumbSize) + 10px);
  height: calc(var(--scaleLength) + 1.55em);
  color: #333;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(-1px 1px 1px #fff);
}

/* Range Slider: Based on Ana Tudors Slider#76 */

input[type='range'] {
  --tpos: calc((var(--thumbSize) + var(--trackSize)) / 2 + .25em);
  content: "";
  position: absolute;
  top: 8.2em;
  left: 4px;
  margin: 0;
  padding: 0;
  width: var(--trackLength);
  height: var(--thumbSize);
  border: solid 0 transparent;
  border-radius: .25em;
  transform: translate(-50%, -50%) rotate(-90deg);
  cursor: pointer;
  font-size: inherit;
  background:
      repeating-linear-gradient(90deg, #868686, #868686 1px, transparent 0, transparent var(--tickLength)) 
      var(--bpos) var(--tpos) / calc( var(--scaleLength) + 2px) calc(var(--thumbSize) - var(--tpos)) no-repeat;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: var(--trackLength);
  height: var(--trackSize);
  padding: 0.125em;
  border: 0;
}

input[type='range']::-moz-range-track {
  box-sizing: border-box;
  width: var(--trackLength);
  height: var(--trackSize);
  padding: 0.125em;
  border: 0;
}

input[type='range']::-ms-track {
  border: none;
  box-sizing: border-box;
  padding: 0.125em;
  width: var(--trackLength);
  height: var(--trackSize);
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: calc( (var(--trackSize) - var(--thumbSize) - .3125em) / 2);
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: var(--thumbLength);
  height: var(--thumbSize);
  border-radius: 0.5em;
  background: #6371D1;
  cursor: ns-resize;
}

input[type='range']::-moz-range-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: var(--thumbLength);
  height: var(--thumbSize);
  border-radius: 0.5em;
  background: #333;
  cursor: ns-resize;
}

input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: var(--thumbLength);
  height: var(--thumbSize);
  border-radius: 0.5em;
  background: #333;
  cursor: ew-resize;
}

input[type='range']::-ms-fill-lower,
input[type='range']::-ms-tooltip {
  display: none;
}

input[type='range']:focus {
  outline: none;
}
