@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.clearfix {
  clear: both;
}

.title_h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 20px 0;
}

.dashboard_wrpr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side_navbar {
  background: #3D3D41;
  padding: 13px;
  width: 80px;
  height: 100vh;
  min-height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

.side_navbar .logo {
  width: 54px;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #FFFFFF10;
}

.side_navbar .logo a {
  width: 42px;
  height: 42px;
  display: inline-block;
}

.side_navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navbar .navbar a {
  margin-bottom: 13px;
  width: 54px;
  height: 54px;
  color: #FFF;
  font-size: 10px;
  border-radius: 6px;
  background: #FFFFFF08;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navbar .navbar a:hover {
  background: #6371D1;
}

.side_navbar .navbar a svg {
  fill: #FFF;
}

.side_navbar .navbar a span {
  margin-top: 6px;
  display: block;
}

.side_navbar .navbar a.selected {
  background: #6371D1;
}

.side_navbar .navbar_bottom {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-bottom: 20px;
}

.side_navbar .navbar_bottom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-top: 10px;
}

.side_navbar .navbar_bottom a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content_section {
  width: calc(100% - 80px);
  margin-left: auto;
  padding: 20px;
}

.years_wrpr {
  margin-top: 47px;
}

.year_span {
  font-size: 10px;
  font-weight: 800;
  color: #4B6A8270;
}

.years_form {
  height: 350px;
}

.slider_box {
  width: 123px;
  margin-top: 14px;
  position: relative;
}

.slider_box .range_div {
  height: 216px;
  position: relative;
}

.slider_box .range_bars {
  --ticksThickness: 1px;
  --ticksHeight: 8px;
  --ticksColor: #565656;
  display: inline-block;
  background: transparent;
  background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
  background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - 0.06%) var(--ticksHeight);
  background-position: 0 bottom;
  position: relative;
  width: 204px;
  height: 8px;
  -webkit-transform: translate(-98px, 96px) rotate(-90deg);
          transform: translate(-98px, 96px) rotate(-90deg);
}

.slider_box #year_input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  direction: rtl;
  background: transparent;
  width: 202px;
  height: 30px;
  -webkit-transform: translate(-100px, 73px) rotate(-90deg);
          transform: translate(-100px, 73px) rotate(-90deg);
  position: relative;
  cursor: pointer;
}

.slider_box #year_input:focus, .slider_box #year_input:active {
  outline: none;
}

.slider_box #year_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 60px;
  left: 20px;
  outline: none;
  border: none;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  background: #565656;
}

.slider_box #year_input::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 1px;
  height: 60px;
  left: 20px;
  outline: none;
  border: none;
  transform: translateY(30px);
  background: #565656;
}

.slider_box #year_input::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 60px;
  left: 20px;
  outline: none;
  border: none;
  transform: translateY(30px);
  background: #565656;
}

.slider_box .current_year {
  position: absolute;
  top: 46%;
  left: 79px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  font-size: 18px;
  font-weight: bold;
  color: #3D3D41;
  display: block;
}

.slider_box .min_year, .slider_box .max_year {
  color: #787878;
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  left: 20px;
}

.slider_box .min_year {
  top: 0;
}

.slider_box .max_year {
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */